---
---
@import "minima";

header > .wrapper {
    background-image: url(/img/logo.png);
    background-size: 30px;
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
}
