---
---
@import "minima";

.site-title {
    padding-left: 50px;
    position: relative;
}
.site-title::before {
    background-image: url(/img/logo.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;

    content: '';
    display: block;
    position: absolute;

    height: 50px;
    width: 50px;

    left: 0px;
    top: 0px;
}

footer .footer-col-2 {
    width: calc(25% - (30px / 2));
}

footer .footer-col-3 {
    width: calc(40% - (30px / 2));
}
